body {
  background: #EDEFF2;
}

.container {
  margin: 0;
  padding: 0;
  font-family: "Titillium Web", sans-serif;
}
.container header {
  width: 1903px;
  height: 1000px;
  filter: drop-shadow(0px 10px 50px rgba(0, 0, 0, 0.25));
  background-image: url(../img/pf-header-bg.png);
  margin-top: -34px;
  margin-left: -9px;
  display: flex;
  margin-bottom: 200px;
}
.container header .dots {
  background: #000;
  width: 800px;
  color: white;
  height: 980px;
  margin-top: -15px;
}
.container header .dots img {
  width: 600px;
  margin-top: 200px;
}
.container header .dots h1 {
  text-align: center;
  font-size: 50px;
  padding-top: 50px;
}
.container header .border-header {
  width: 700px;
  height: 2px;
  background: white;
  margin-top: -350px;
  margin-left: 50px;
}
.container header .main-txt {
  width: 800px;
  color: white;
  height: 1000px;
}
.container header .main-txt .socials {
  display: flex;
  justify-content: center;
}
.container header .main-txt .socials img {
  margin: 50px;
}
.container header .nav {
  background: #969696;
  width: 100%;
  height: 150px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container header .nav #menu__toggle {
  opacity: 0;
}
.container header .nav .menu__btn {
  display: none;
  align-items: center;
  position: fixed;
  top: 40px;
  left: 30px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  z-index: 1;
}
.container header .nav .menu__btn > span,
.container header .nav .menu__btn > span::before,
.container header .nav .menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
}
.container header .nav .menu__btn > span::before {
  content: "";
  top: -8px;
}
.container header .nav .menu__btn > span::after {
  content: "";
  top: 8px;
}
.container header .nav .menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 300px;
  height: 200px;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  text-align: center;
  background-color: #ECEFF1;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
}
.container header .nav .menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}
.container header .nav .menu__item:hover {
  background-color: #CFD8DC;
}
.container header .nav #menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
.container header .nav #menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
.container header .nav #menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
.container header .nav #menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}
.container header .nav .menu__btn > span,
.container header .nav .menu__btn > span::before,
.container header .nav .menu__btn > span::after {
  transition-duration: 0.25s;
}
.container header .nav .menu__box {
  transition-duration: 0.25s;
}
.container header .nav .menu__item {
  transition-duration: 0.25s;
}
.container header .nav a {
  margin-left: 100px;
  margin-top: 20px;
  font-size: 25px;
  color: white;
  text-decoration: none;
}
.container header .nav .top {
  font-weight: 600;
  text-decoration: underline;
  text-decoration-color: #FFD952;
}
.container main .Maks {
  display: flex;
  justify-content: space-evenly;
}
.container main .Maks .face {
  width: 500px;
  margin-top: -50px;
}
.container main .Maks .txt {
  padding-top: 100px;
}
.container main .Maks .txt p {
  width: 450px;
  font-size: 25px;
}
.container main .Maks .asdasd {
  position: absolute;
  width: 300px;
  left: 1300px;
  top: 1250px;
}
.container main .dm {
  width: 300px;
  height: 100px;
  position: absolute;
  left: 520px;
  margin-top: 10px;
}
.container main .dv {
  width: 300px;
  height: 100px;
  position: absolute;
  left: 1020px;
  margin-top: 20px;
  padding-bottom: 100px;
}
.container main .lines-m {
  width: 500px;
  margin-left: 1000px;
  margin-top: -70px;
  margin-bottom: 200px;
}
.container main .lines-v {
  width: 500px;
  margin-left: 350px;
}
.container main .Vadim {
  display: flex;
  justify-content: space-evenly;
}
.container main .Vadim .face {
  margin-left: -200px;
  width: 500px;
}
.container main .Vadim .txt {
  padding-top: 100px;
}
.container main .Vadim .txt p {
  width: 450px;
  font-size: 25px;
}
.container main .Vadim .asdasd {
  position: absolute;
  width: 250px;
  left: 250px;
  top: 1900px;
}

@media (max-width: 800px) {
  .container header {
    text-align: center;
    width: 700px;
    height: 400px;
  }
  .container header .dots {
    text-align: center;
    background: none;
    width: 700px;
  }
  .container header .dots h1 {
    font-size: 30px;
    margin-top: 130px;
  }
  .container header .dots img {
    display: none;
  }
  .container header .nav {
    margin-left: -800px;
    height: 100px;
    width: 700px;
  }
  .container header .nav a {
    font-size: 20px;
  }
  .container header .nav a:first-child {
    margin-left: 0;
  }
  .container header .socials {
    width: 700px;
    height: 400px;
    margin-top: -30px;
  }
  .container header .socials img {
    width: 50px;
    height: 50px;
  }
  .container header .border-header {
    width: 600px;
    margin-top: -830px;
  }
  .container main {
    width: 700px;
    height: 400px;
  }
  .container main .Maks {
    flex-wrap: wrap;
    margin-top: -100px;
  }
  .container main .Maks .asdasd {
    display: none;
  }
  .container main .Vadim {
    flex-wrap: wrap;
    margin-top: -150px;
  }
  .container main .Vadim .asdasd {
    display: none;
  }
  .container main .Vadim .face {
    margin-left: -70px;
  }
  .container main .lines-m {
    margin-left: 0;
    width: 400px;
    margin-top: 0px;
    margin-left: 120px;
  }
  .container main .dm {
    margin-left: -300px;
    margin-top: -480px;
    display: none;
  }
  .container main .lines-v {
    margin-left: 0;
    width: 400px;
    margin-top: 100px;
    margin-left: 120px;
  }
  .container main .dv {
    margin-left: -800px;
    margin-top: -1050px;
    display: none;
  }
}
@media (max-width: 500px) {
  .container header {
    width: 415px;
  }
  .container header .main-txt {
    width: 415px;
  }
  .container header .main-txt .dots {
    width: 415px;
  }
  .container header .main-txt .dots h1 {
    font-size: 50px;
  }
  .container header .main-txt .socials {
    width: 415px;
    flex-direction: column;
    margin-top: -310px;
    align-items: end;
  }
  .container header .main-txt .socials img {
    width: 40px;
    height: 40px;
    margin: 20px;
  }
  .container header .main-txt .border-header {
    width: 1px;
    height: 220px;
    margin-left: 400px;
    margin-top: -950px;
  }
  .container header .nav {
    width: 620px;
    margin-left: -620px;
  }
  .container header .nav .menu__btn {
    display: flex;
  }
  .container header .nav a {
    display: none;
  }
  .container main .Maks {
    width: 415px;
  }
  .container main .Maks .face {
    width: 70%;
  }
  .container main .Maks .txt p {
    font-size: 20px;
    width: 415px;
  }
  .container main .Vadim {
    width: 414px;
  }
  .container main .Vadim .face {
    margin-left: -20px;
    width: 70%;
    margin-bottom: 50px;
  }
  .container main .Vadim .txt p {
    font-size: 20px;
    width: 410px;
  }
  .container main .lines-m {
    margin-left: 10px;
  }
  .container main .dm {
    margin-top: -400px;
    margin-left: -400px;
    display: none;
  }
  .container main .dv {
    margin-top: -800px;
    margin-left: -880px;
    display: none;
  }
  .container main .lines-v {
    margin-left: 10px;
    margin-top: -50px;
    margin-bottom: 100px;
  }
}/*# sourceMappingURL=about-us.css.map */